* {
    font-family: 'rubik', sans-serif;
    box-sizing: border-box;
    font-size: 45px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    display: flex;
    column-gap: 30px;
}

.schedule {
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.schedule__content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.schedule__nums-columns {
    display: flex;
    align-items: end;
    column-gap: 41px;
}

.num {
    text-align: center;
}

.column {
    width: 50px;
    background-color: #7858d7;
}

.schedule__names {
    display: flex;
    column-gap: 41px;
}

.name {
    writing-mode: vertical-rl;

}

.btn {
    height: 75px;
    width: 75px;
    cursor: pointer;
    align-self: start;
    background-color: #d8d7da;
    border: 2px solid rgb(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    background-color: #8a898d;
    transition: .3s;
}

@media screen and (max-width: 550px) {

    * {
        font-size: 25px;
    }

    .content {
        column-gap: 11px;
    }

    .schedule__nums-columns {
        column-gap: 11px;
    }

    .schedule__names {
        display: flex;
        column-gap: 11px;
    }

    .column {
        width: 30px;
    }

    .btn {
        height: 50px;
        width: 50px;
    }
}