* {
    font-family: 'rubik', sans-serif;
    box-sizing: border-box;
    font-size: 50px;
}

/*big biggest - #7858d7, bigger - #ea643f, big #5baa73, small #f4a965 */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    display: flex;
    column-gap: 30px;
}

.diagram {
    display: flex;
    align-items: end;
    column-gap: 70px;
    border: 2px solid rgb(0,0,0, .1);
    padding: 30px;
}

.scheduleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.schedule {
    width: 50px;
    background-color: #7858d7;
}

.name {
    writing-mode: vertical-rl;
}

.btn {
    height: 100px;
    width: 100px;
    cursor: pointer;
    border: none;
    align-self: start;
    background-color: #00000019;
}